@font-face {
    font-family: 'BebasNeue';
    font-style: normal;
    src: url("fonts/BebasNeue.otf") format("opentype");
}


/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

body {
    color: #fff;
}


/*
 * Header
 */

header {
    margin-top: 30px;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    color: #fff;
    letter-spacing: 1.12px;
    font-size: 24px;
    transition: 1.2s;
    border: 2px solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    background: #000;
    border-color: #fff;
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-desktop {
    display: none;
}


/*
* main
*/

#main-container {
    background: url("../static/images/img-backgroundintenconf.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px 50px;
}

#main-container,
#description {
    font-family: BebasNeue;
}

footer {
    font-family: Roboto-Regular;
}

main {
    margin-left: 5%;
    margin-top: 20px;
}

.cover-heading {
    margin-bottom: 40px;
    font-size: 36px;
    letter-spacing: 1.97px;
}

#main-container .lead {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
}

.link-btn,
.suscribe-btn {
    border: 1px solid #fff;
    padding: 5px 60px;
    letter-spacing: 1.12px;
    font-size: 24px;
}

.link-btn:hover {
    background-color: #000000;
    text-decoration: none;
    transition: 1.2s
}

main>p>a {
    margin: 0px 15px 0px 0px;
}

.nav-masthead .active {
    color: #fff;
}

.default-spacing {
    letter-spacing: 0.84px;
}

.font36 {
    font-size: 36px;
}

.font48 {
    font-size: 48px;
}

.mt-50 {
    margin-top: 50px;
}


/*
* Description section
*/

.black-logo {
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.intentconf-description-container {
    margin-bottom: 100px;
}

.intentconf-date-container {
    margin-bottom: 100px;
    width: 300px;
}

.intentconf-description {
    font-size: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.intentconf-date {
    font-size: 48px;
    letter-spacing: 0.84px;
    color: #000000;
}

.newsletter-container {
    background-color: #000000;
    height: 300px;
    font-size: 24px;
    font-family: BebasNeue;
    margin-bottom: 20px;
    padding: 20px;
    letter-spacing: 1.31;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newsletter-container input {
    font-family: Roboto;
    font-size: 16px;
}

.suscribe-btn:hover {
    text-decoration: none;
}

.suscribe-btn {
    width: 250px;
    margin: 0 auto;
}


/*
* Speakers section
*/

#speakers-container span {
    font-family: BebasNeue;
    font-size: 48px;
    letter-spacing: 0.84px;
    text-align: center;
    color: #000000;
    display: none;
}

#speakers {
    display: flex;
    flex-direction: column;
}

#speakers p {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: black;
    letter-spacing: 0.75px;
    text-align: center;
}

#speakers .name {
    font-family: BebasNeue;
    font-size: 32px;
    color: black;
    letter-spacing: 0.75px;
    text-align: center;
}


/*
 * Footer
 */

footer {
    padding: 30px;
    font-size: 16px;
    letter-spacing: 0.75px;
    line-height: 27px;
    background-color: #000000;
    flex-direction: column;
    display: flex;
}

.footer-image {
    margin-top: 30px;
}

.links-footer-top {
    margin-top: 50px;
    margin-bottom: 20px;
}

.links-footer-bottom {
    margin-bottom: 50px;
}

.links-footer-top,
.links-footer-bottom {
    display: flex;
    justify-content: space-between;
    font-family: BebasNeue;
}

.info-footer {
    margin: 0 auto;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
    .nav-desktop {
        display: flex;
    }
    #main-container .lead {
        flex-direction: row;
        row-gap: 0;
    }
    #main-container {
        height: 100vh;
    }
    .cover-heading {
        font-size: 62px;
    }
    .intentconf-description {
        font-size: 36px;
        letter-spacing: 0.84px;
        margin-bottom: 60px;
    }
    .newsletter-container {
        font-size: 28px;
        letter-spacing: 1.12;
        flex-direction: row;
        padding: 30px;
        height: 110px;
        width: auto;
        vertical-align: center;
    }
    .newsletter-container input,
    .newsletter-container a {
        height: 50px;
    }
    .newsletter-container span {
        flex-grow: 4;
    }
    .newsletter-container input {
        width: 300px;
        margin-right: 20px;
        height: 39px;
        flex-grow: 1
    }
    .newsletter-container a {
        height: 40px;
    }
    #speakers-container {
        margin-top: 100px;
    }
    #speakers-container span {
        display: inline;
    }
    #speakers {
        flex-direction: row;
        padding: 10px;
        flex-flow: row wrap;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
    }
    #speakers div {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(24% - 5px);
        border: 1px solid black;
        /* separate properties for IE11 upport */
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-image {
        text-align: left;
        margin-top: 45px;
    }
    .info-footer {
        margin-top: 30px;
    }
    .links-footer-top,
    .links-footer-bottom {
        display: flex;
        justify-content: space-between;
    }
}